* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 2rem;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: $curriculum-bg;
  color: $curriculum-color;

  @media (min-width: $mqMaxWidth) {
    //Desktop
    height: 100vh;
    font-size: 14px;
  }
}

#containers {
  display: flex;
  gap: 40px;
  margin: auto;

  @media (max-width: $mqMaxWidth) {
    //Mobile
    display: block;
    width: 90%;
  }
}

.container {
  height: 100%;
  padding: 2rem;
  text-align: center;
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  @media (max-width: $mqMaxWidth) {
    //Mobile
    margin-bottom: 3rem;
  }
}

.container h1 {
  text-align: center;
}

.profile-photo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  max-width: 200px;
  height: auto;

  @media (max-width: $mqMaxWidth) {
    //Mobile
    max-width: none;
  }
}

.title {
  font-family: $font-family-sans-serif;
  font-size: 26px;
  font-weight: 500;

  @media (max-width: $mqMaxWidth) {
    //Mobile
    font-size: 30px;
  }
}

table {
  table-layout: auto;
  width: 100%;
  text-align: center;
}

td {
  padding: 0.3rem;
}

.uoc-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}
